<!DOCTYPE html>
<html lang="en">
<head>
    {% include './includes/head.njk' %}
</head>
<body>
    <header>
        {% include './includes/header.njk' %}
    </header>
    
    <div>
        <h1>Process completed</h1>
    </div>
    <div>
        <a href="/admin" class="Btn backBtn">
            Back to Admin Page
        </a>
    </div>


    <footer>
        {% include './includes/footer.njk' %}
    </footer>
</body>
</html>